@model RVAS.Models.Team
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Create", "Teams"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ClubColors)
        @Html.TextBoxFor(m => m.ClubColors, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CrestUrl)
        @Html.TextBoxFor(m => m.CrestUrl, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Founded)
        @Html.TextBoxFor(m => m.Founded, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ShortName)
        @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tla)
        @Html.TextBoxFor(m => m.Tla, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Venue)
        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Website)
        @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })

    </div>
    




    <button type="submit" class="btn btn-primary">Save</button>
}

