@model RVAS.Models.Competition
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h2> @Model.Name </h2>

        <h2> @Model.EmblemUrl </h2>
        <h2> @Model.Code </h2>
        <h2>@Model.Plan</h2>
        @foreach (var s in Model.Seasons)
        {
            if (@s.Winner is null)
            {
                continue;
            }
            <h2>@s.StartDate</h2>
            <h2>@s.Winner.Name</h2>

        }





    </div>
</body>
</html>
